/* -------------------------- GLOBAL -------------------------- */
* { 
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
    font-family: 'Roboto', sans-serif; 
}

/* -------------------------- COLORS -------------------------- */
:root {
    --primary-color: #0f172a;    /* Navy / data tone */
    --secondary-color: #2563eb;  /* Clean blue */
    --accent-color: #22c55e;     /* Success green */
    --bg-color: #f8fafc;         /* Very light */
    --card-bg: #ffffff;
    --text-color: #1e293b;
}


/* -------------------------- BODY -------------------------- */
body { 
    background-color: var(--bg-color); 
    color: var(--text-color); 
    line-height: 1.6;
    min-height: 100vh;
}

/* -------------------------- HEADER -------------------------- */
header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 { font-size: 24px; }

nav a {
    margin-left: 25px; 
    color:white;
    font-weight:500; 
    text-decoration: none;
    transition: color 0.3s; 
}
nav a:hover { color: var(--accent-color); }

/* -------------------------- CONTAINER -------------------------- */
.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* -------------------------- CARD -------------------------- */
.card {
    background: var(--card-bg);
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

h2 {
    color: #1e3a8a;
    margin-bottom: 10px;
}

/* -------------------------- TABLE -------------------------- */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.status {
    margin-top: 15px;
    font-weight: bold;
}

.good { color: green; }
.warn { color: orange; }
.risk { color: red; }

.suggestion-box {
    background: #eef2ff;
    padding: 15px;
    border-left: 5px solid #1e3a8a;
    margin-top: 10px;
}

nav a.highlight {
    color: rgb(48, 171, 223);
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.2s;
}



/* Tablet and below */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin-top: 15px;
    }

    nav a {
        margin: 0 10px;
        display: inline-block; /* Better spacing for touch */
    }
}

/* Mobile Phones */
@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr; /* Full width cards */
    }
    
    header h1 {
        font-size: 1.2rem;
    }
    
    .card h2 {
        font-size: 1.25rem;
    }
}
